body{
	background: #EDEDEC;
}
.container{
    padding-left:0;
    padding-right:0;
}
#datePre,#dateNext{
    cursor:pointer;
}
#table{
    overflow:auto;
}
.mainBox thead{
    background:#42B685;
    color:#fff;
}
.mainBox tbody tr:nth-child(even){
	background:#CDCDCE;
	border-top:1px solid #C8C9CA;
	border-bottom:1px solid #C8C9CA;
}
#tempTitle{
    background-color: #42B685;
    color: #FFF;
    line-height:30px;
    padding-left:10px;
}
.chart{
    margin:0 auto;
	padding-top:6px;
}
.chart #tempChart{
    width:100%;
    height:200px;
    background:#FFFFFF;
}
.mainBox{
    background: #FFF;
    border: 1px solid #b4b4b5;
    overflow: hidden;
    height: 100%;
    margin-bottom:10px;
}