body {
	background: #EDEDEC;
}
#container{
	width:100%;
	overflow:hidden;
	padding:0.5rem 0 0 0.5rem;
}
section {
	width: 33.33%;
	float: left;
}

.chart {
	width: 100%;
	height: 300px;
	border: 1px solid red;
}
.tempDiv{
	background:#fff;
	border:1px solid #C8C9CA;
	border-radius:0.5rem;
	margin-right:0.3rem;
}
.tempDiv h3{
	font-size:1rem;
	text-align:center;
	padding-top:0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tempNum p{
	margin-bottom:0;
	display:block;
}
.tempNum img{
	float:left;
	width:1.2rem;
	margin-right:0.4rem;
	vertical-align:2rem;
	padding-top:1rem;
	margin-left:0.3rem;
}
.tempBtn{
	display:block;
	width:90%;
	margin:0 auto;
	height: 2.5rem;
	background-color: #02AC94;
	color:#fff;
	border-radius: 4rem;
	border:none;
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}
*{
	outline: 0 !important;
}
.searchBtn{
	width:1rem;
}
