.listView {
	background: white;
	border-radius: 0.5rem;
	border: 0.05rem solid #B4B4B5;
	padding: 0.3rem;
	margin: 0.3rem 0 0.3rem 0;
}

button {
	outline: 0 !important;
}

.container {
	background: #fff;
	height: 100%;
	padding-right: 0;
	padding-left: 0;
}

body {
	height: 100%;
	font-size: 1.5rem;
	background: #EDEDEC;
}

#sideClick p .jiancedian,
.list .type {
	float: left;
	margin-top: 1.5rem;
}

#sideClick {
	height: 3.5rem;
	padding-top: 0.5rem;
}

.function-group {
	height: 4rem;
	padding-top: 0.5rem;
}

.dateImg {
	float: left;
	width: 1.7rem;
	margin-left: 0.5rem;
	padding-top: 1.7rem;
}

#sideClick,
.list,
.function-group {
	border-bottom: 1px dashed #C8C9CA;
	height: 6rem;
	line-height: 5rem;
	padding-top: 0.5rem;
	margin-bottom: 0;
}

.input-group-addon {
	display: none;
}

.form_date_start,
#dateStart,
.form_date_end,
#dateEnd {
	width: 14rem;
	background: transparent;
	border: none;
	float: left;
}

.function-group label {
	font-weight: normal;
	padding: 0.2rem 0.5rem;
	float: left;
}

.list-unstyled li {
	width: 95%;
	padding: 0.5rem;
	background: #fff;
	list-style: none;
	border: 1px solid #C8C9CA;
	border-radius: 0.5rem;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.category input {
	float: right;
	width: 18px;
	height: 18px;
}

.category span {
	height: 3rem;
	line-height: 3rem;
}

.category label {
	width: 90%;
	font-size: 15px;
}

.modal-dialog {
	width: 70%;
	margin: 15%;
}

.data {
	line-height: 40px;
	margin: 0.3rem 0 0.3rem 0;
}

.data img {
	float: right;
	vertical-align: -20px;
	cursor: pointer;
}

.container {
	height: 100%;
}

.list {
	padding: 0 0.5rem 0 0.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
}

.list p {
	float: left;
	margin-bottom: 0;
}

.list img {
	float: right;
	margin-right: 0.5rem;
	margin-top: 1.8rem;
}

.container hr {
	clear: both;
	margin: 0;
	border: 0.03rem dashed #C8C9CA;
}

.elec-btn {
	padding: 0.3rem 0.2rem 0.3rem 0.2rem;
}

.elec-btn button {
	height: 2rem;
	line-height: 1rem;
	width: 25%;
	margin: 0 5px;
	border-radius: 0.3rem;
	background: #F7F7F7;
	border: 1px solid #888888;
}

.elec-btn .select,
.search {
	width: 95%;
	height: 4rem;
	margin: 0 auto;
	display: block;
	border-radius: 4rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#dateStart,
#dateEnd {
	background: url(../image/down.png) no-repeat right 0.8rem;
	background-size: 0.5rem;
}

.date {
	margin: 0.6rem 0.2rem 0.6rem 0.2rem;
}

.form_date_start,
#dateStart,
.form_date_end,
#dateEnd {
	width: 14rem;
	height: 2.7rem;
	background: transparent;
	border: none;
	float: left;
	padding-top: 0.5rem;
	line-height: 2.7rem;
}

#search img {
	width: 1.5rem;
	margin-right: 0.5rem;
}

.container .diagram {
	width: 95%;
	height: 20rem;
	margin-bottom: 0.5rem;
}

.dataTable {
	width: 95%;
	border: 1px solid #C8C9CA;
	background: #fff;
}

.dataTable thead {
	background: #42B685;
	color: #fff;
}

.dataTable tbody tr:nth-child(2) {
	background: rgb(236, 248, 243);
	border-top: 1px solid #C8C9CA;
	border-bottom: 1px solid #C8C9CA;
}

.center {
	margin: 0 auto;
}

.elec-btn .select,
.search {
	background: #02AC94;
	border: 1px solid #02AC94;
	color: #fff;
}

.clear {
	position: absolute;
	right: 33%;
	top: 2.3rem;
	z-index: 9;
}

.list-group-item {
	border: none;
}

.modal-dialog {
	margin-top: 20%;
}

.collectlist {
	width: 95%;
	padding: 0.5rem;
	background: #fff;
	list-style: none;
	border: 1px solid #C8C9CA;
	border-radius: 0.5rem;
}

.collectlist p {
	margin-bottom: 0.2rem;
}

.contain {
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	background: #fff;
	border-radius: 0.5rem;
	clear: both;
	overflow: hidden;
}

.contain h1 {
	margin-top: 0;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.contain h1::before {
	content: url(../image/jiancedian.png);
	vertical-align: -0.5rem;
	margin-right: 0.5rem;
}

.contain h1 span {
	display: block;
	float: right;
	font-weight: normal;
}

.contain h2 {
	font-size: 1rem;
}

.list1,
.contain h1 span {
	font-size: 1.2rem;
	color: rgb(145, 139, 138);
	margin: 0.15rem 0 0.5rem 0;
}

.type {
	width: 33%;
	text-align: center;
	float: left;
}

.type img {
	width: 50%;
	margin-bottom: 0.5rem;
}

.type p {
	margin-bottom: 0;
}

/*.container{height:100%;}*/
.selectcontain {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 0;
	top: 0;
	animation: IDENT2 linear 0.3s;
}

@keyframes IDENT2 {
	0% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
	}
}

/*左侧弹窗增加透明灰底*/
.tree {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 0;
	top: 0;
	display: none;
    z-index: 10;
}

.selectcontain-main {
	width: 87%;
	height: 100%;
	background: #fff;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	clear: both;
	z-index: 999;
	padding: 0;
	animation: IDENT linear 0.3s;
}

#treeview {
	overflow: auto;
	height: 80%
}

.treeSearch {
	padding: 1rem;
}

.tree .search,
.tree .cancel {
	height: 6rem;
	line-height: 5rem;
	width: 50%;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	padding:0;
}

.tree .cancel {
	background: #d4d4d0;
}

.tree .search {
	right: 0;
	background: #02AC94;
	color: #fff;
}

.treeSearch input {
	border-radius: 4rem;
	border: 1px solid #ddd;
	height: 4rem;
	width: 70%;
	background: url(../image/searchsmall.png) no-repeat 4px 5px;
	padding-left: 25px;
	position: relative;
}

.treeSearch button {
	width: 25%;
	height: 4rem;
	background: #02AC94;
	color: #fff;
	border-radius: 4rem;
	border: 1px solid #02AC94;
}

.ban_body{
	height:100%;
	overflow:hidden;
}

@keyframes IDENT {
	0% {
		right: -100%;
	}

	100% {
		right: 0;
	}
}