.container{
	background: #EDEDEC;
	height: 100%;
	padding-right:0;
	padding-left:0;
}
.form_date_end label{
	font-weight:normal;
}
.form_date_end input{
	border-radius:5px;
	border:1px solid #888888;
	padding-left:0.5rem;
}
body{
	height: 100%;
	font-size:1.5rem;
	background:#EDEDEC;
}
#table{font-size:1rem;}
.selectTime,.list,#EnergyContain,.sumDate{
	border-bottom:1px dashed #C8C9CA;
}
#sideClick,#electric,#select{
	height:3.5rem;
	padding-top:0.5rem;
}
.selectTime{margin-bottom:0;}
/*.category ul{padding-left:0;}
.category ul li{
	height: 3rem;
	line-height: 2.5rem;
	padding-top:5px;
	list-style: none;
	border-bottom: 1px solid #eee;
}
.category input{
	float:right;
	width:18px;
	height: 18px;
}
.category span{
	height: 3rem;
	line-height: 3rem;
}
.category label{
	width: 90%;
	font-size: 15px;
}
.modal-dialog {
	width: 70%;
	margin: 15%;
}
.data{
	line-height: 40px;
	margin:0.3rem 0 0.3rem 0;
}
.data img{
	float:right;
	vertical-align: -20px;
	cursor: pointer;
}
.container{height:100%;}*/

.list{
	padding:0 0.5rem 0 0.5rem;
	height:2.5rem;
	line-height: 2.5rem;
}
.list p{
	float:left;
	margin-bottom: 0;
}
.list img{
	float:right;
	margin-right:0.5rem;
	margin-top:0.8rem;
}
.container hr{
	clear:both;
	margin:0;
	border:0.03rem dashed #C8C9CA;
}
.elec-btn{
	padding:0.3rem 0.2rem 0.3rem 0.2rem;
}
.elec-btn button{
	height:2.5rem;
	line-height: 1rem;
	width:20%;
	margin: 0 5px;
	border-radius: 0.3rem;
	background:#F7F7F7;
	border:1px solid #888888;
}
#EnergyContain{
	height:4rem;
	padding-top:0.7rem;
}
.elec-btn .select,.search{
	background:#02AC94;
	border:1px solid #02AC94;
	color:#fff;
}
.date{margin:0.6rem 0.2rem 0.6rem 0.2rem;}
.search{
	width:95%;
	height:2rem;
	margin:0 auto;
	display: block;
	border-radius: 0.3rem;
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}
.container .diagram{
	width:100%;
	height:20rem;
	margin-bottom:0.5rem;
	background: #fff;
}
.dataTable{
	width:95%;
	border:1px solid #C8C9CA;
	background:#fff;
}
.dataTable thead{
	background:#42B685;
	color:#fff;
}
.dataTable tbody tr:nth-child(even){
	background:rgb(236,248,243);
	border-top:1px solid #C8C9CA;
	border-bottom:1px solid #C8C9CA;
}
.center{margin:0 auto;}
#date{
	height:2.5rem;
	border-radius:5px;
	border:1px solid #888888;
	padding-left:0.5rem;
}
.tree{
	display: none;
	width: 90%;
	height: 100%;
	background: #fff;
	position: fixed;
	top:0;
	right:0;
	z-index: 10;
}
#treeview{
	overflow:auto;
	height:84%
}
.treeSearch{
	padding:1rem;
}
.tree .search,.tree .cancel{
	height:4rem;
	line-height:3rem;
	width:44%;
	border-radius: 0;
	border:none;
	margin-bottom:0;
	position:fixed;
	bottom:0;
}
.tree .cancel{
	background:#d4d4d0;
}
.tree .search{
	right:0;
	background:#02AC94;
	color:#fff;
}
.treeSearch input{
	border-radius: 0.5rem;
	border:1px solid #ddd;
	height: 2.3rem;
	width:70%;
	background: url(../image/searchsmall.png) no-repeat 4px 5px;
	padding-left:25px;
	position: relative;
}
.treeSearch button{
	width:25%;
	height: 2.3rem;
	background: #02AC94;
	color:#fff;
	border-radius: 0.5rem;
	border:1px solid #02AC94;
}
.clear{
	position: absolute;
	right:33%;
	top:1.4rem;
	z-index: 9;
}
.list-group-item{
	border:none;
}
.modal-dialog{margin-top:20%;}

#energySelect{
	background:transparent;
	border:none;
	-webkit-appearance:none;
	width:calc(100% - 80px);
	background:url('../image/right.png') no-repeat right 5px center;
}
