/*新增*/
body,
button,
input {
	font-size: 0.9rem;
}

button {
	outline: 0 !important;
}

.grey {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

#mescroll {
	padding-left: 0.6rem;
}

.container {
	border: 1px solid #C8C9CA;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	background: #fff;
	border-radius: 0.5rem;
	overflow: hidden;
	width: calc(50% - 0.6rem);
	float: left;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.container h1 {
	font-size: 0.85rem;
	margin-bottom: 0.2rem;
}

.container h1::before {
	content: url(../image/jiancedian.png);
	vertical-align: -0.2rem;
	margin-right: 0.5rem;
}

.container h2 {
	font-size: 1rem;
}

.list {
	font-size: 0.8rem;
	color: rgb(145, 139, 138);
	margin: 0.5rem 0 0.5rem 0;
}

.type {
	width: 100%;
	text-align: left;
	float: left;
	position: relative;
}

.type img {
	width: 30%;
	max-width: 4rem;
	position: absolute;
	right: 0;
	top: 5%;

}

.type p {
	margin-bottom: 0;
}


/*新增*/
.listView {
	background: white;
	border-radius: 0.5rem;
	border: 0.05rem solid #B4B4B5;
	padding: 0.3rem;
	margin: 0.3rem 0 0.3rem 0;
}

.list-unstyled li {
	/*	width: 100%;
	padding: 0.5rem;
	background: #fff;*/
	list-style: none;
	/*	border: 1px solid #C8C9CA;
	border-radius: 0.5rem;
	margin: 0 0 0.5rem 0rem;*/
}

.mescroll {
	position: fixed;
	top: 0px;
	bottom: 0;
	height: auto;
	background: #f4f4f4;
}

.data {
	line-height: 40px;
	margin: 0.5rem 0 0.5rem 0;
}

.data img {
	float: right;
	vertical-align: -20px;
	cursor: pointer;
	margin-right: 10px;
}

/*.container{height:100%;}*/
.selectcontain {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 0;
	top: 0;
	animation: IDENT2 linear 0.3s;
}

@keyframes IDENT2 {
	0% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
	}
}

.selectcontain-main {
	width: 87%;
	height: 100%;
	background: #fff;
	position: absolute;
	right: 0;
	top: 0;
	padding: 2rem 0 0 1rem;
	overflow: hidden;
	clear: both;
	z-index: 999;
	animation: IDENT linear 0.3s;
}

@keyframes IDENT {
	0% {
		right: -100%;
	}

	100% {
		right: 0;
	}
}

@media (max-height: 20rem) {

	.selectcontain .search,
	.selectcontain .cancel {
		display: none;
	}
}

#today {
	font-size: 0.9rem;
	background-image: url(../image/dr-h.png);
}

#yesterday {
	background-image: url(../image/sr-h.png);
}

#thisMon {
	background-image: url(../image/dy-h.png);
}

#lastMon {
	background-image: url(../image/sy-h.png);
}

#yesterday,
#thisMon,
#lastMon,
#today {
	font-size: 0.9rem;
	background-repeat: no-repeat;
	background-position: 1.5rem 0.5rem;
	background-size: 12%;
	box-shadow: none;
}

.selectcontain button {
	width: 48%;
	float: left;
	margin-bottom: 0.5rem;
	background-color: rgb(244, 241, 241);
	border-radius: 1.5rem;
	padding-left: 3rem;
}

.selectcontain button:first-child {
	margin-right: 0.5rem;
}

.selectcontain button:nth-child(3) {
	margin-right: 0.5rem;
}

.selectcontain .select {
	font-size: 0.9rem;
	background-image: url(../image/dr-b.png);
	background-repeat: no-repeat;
	background-position: 1.5rem 0.5rem;
	background-size: 12%;
	background-color: #02AC94;
	border: 1px solid #02AC94;
	color: #fff;
	padding-left: 3rem;
}

#today[class*="select"] {
	background-image: url(../image/dr-b.png);
}

#yesterday[class*="select"] {
	background-image: url(../image/sr-b.png);
}

#thisMon[class*="select"] {
	background-image: url(../image/dy-b.png);
}

#lastMon[class*="select"] {
	background-image: url(../image/sy-b.png);
}

.selectcontain p {
	clear: both;
	line-height: 2rem;
}

.selectcontain hr {
	clear: both;
	margin-left: -1rem;
	margin-right: -1rem;
	border: 0.03rem dashed #C8C9CA;
}

.selectcontain span {
	width: 5.5rem;
	display: block;
	float: left;
	text-align: left;
	color: #565A68;
}

#meterName::-webkit-input-placeholder,
#paramName::-webkit-input-placeholder {
	color: #999DA6;
}

.selectcontain input,
.selectcontain select {
	height: 2rem;
	border: none;
}

.selectcontain .cancel,
.selectcontain .search {
	padding-left: 0;
}

.selectcontain .search,
.selectcontain .cancel {
	position: absolute;
	bottom: 0;
	line-height: 3rem;
	width: 50%;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
}

.selectcontain .cancel {
	left: 0;
	background: #d4d4d0;
}

.selectcontain .search {
	right: 0;
	background: #02AC94;
	color: #fff;
}

.function-group {
	width: 100%;
}

#dateStart,
#dateEnd {
	border: none;
	color: #000;
}

.function-group label {
	width: 5.5rem;
	text-align: left;
	float: left;
	display: block;
	padding: 0;
	padding-top: 6px;
	color: #565A68;
}

.function-group .to {
	width: 1rem;
}

.control-label img,
.sRow span img {
	width: 20%;
	vertical-align: -0.1rem;
	margin-right: 0.4rem;
}

.functionDate {
	width: 85%;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
	padding-right: 1rem;
	margin-bottom: 1rem;
}

.functionDate .btn:hover {
	color: #fff;
}

.function-group,
.sRow {
	clear: both;
	overflow: hidden;
	height: 3rem;
	border-bottom: 1px solid #E3E4E8;
}

#alermType,
#meterName,
#paramName {
	width: calc(100% - 6.5rem);
}

#alermType {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../image/right.png) no-repeat right center;
	background-size: 4%;
}

.function-group .input-group {
	width: 5.89rem;
	float: left;
	padding-left: 0;
	padding-right: 0;
}

.sRow {
	margin-bottom: 1rem;
}

.sRow span {
	padding-top: 4px;
}

.control-label,
.data-date {
	display: block;
	float: left;
}

.form-group div {
	float: left;
}

.control-label {

	width: 30%;
}

.data-date {
	width: 65%;
}