.container{
	background: #EDEDEC;
	height: 100%;
	padding-right:0;
	padding-left:0;
}
section{
	width:30%;
	float:left;
}
.title,.data{
	float:left;
}
.chart{
	width:100%;
	height:600px;
	overflow:hidden;
	border:1px solid red;
}
#IChart,#EChart{
    width:100%;
    height:280px;
}
#table{
	overflow:auto;
}
#datePre,#dateNext{
    cursor:pointer;
}