.container {
	background: #fff;
	padding-right: 0;
	padding-left: 0;
	overflow: auto;
}

*{
	outline: 0 !important;
}

.form_date_end label {
	font-weight: normal;
}

.form_date_end input {
	border-radius: 5px;
	padding-left: 0.5rem;
}

#sideClick p .jiancedian,
.list .type {
	float: left;
	margin-top: 1.5rem;
}

.list .type,
.selectTime img {
	width: 1.8rem;
}

.selectTime img {
	margin-right: 0.5rem;
}

body {
	height: 100%;
	font-size: 1.5rem;
	background: #EDEDEC;
}

#table {
	font-size: 1rem;
}

.sumDate {
	border-bottom: 1px dashed #C8C9CA;
}

.sumDate .date img {
	width: 1.8rem;
	margin: 1.4rem 0.5rem 0 0.5rem;
	float: left;
}

.sumDate .date .control-label {
	padding: 0;
	float: left;
}

#sideClick,
#electric,
#select,
.selectTime,
.sumDate {
	height: 6rem;
	line-height: 5rem;
	padding-top: 0.5rem;
	padding-right: 1rem;
}

.selectTime {
	margin-bottom: 0;
	padding-left: 0.5rem;
}

.list {
	padding: 0 0.5rem 0 0.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
}

.list p {
	float: left;
	margin-bottom: 0;
}

.list img {
	float: right;
	margin-right: 0.5rem;
	margin-top: 1.8rem;
}

.date {
	margin: 0 0.2rem 0.6rem 0.2rem;
	width: 100%;
}

.container .diagram {
	width: 100%;
	height: 25rem;
	margin-bottom: 0.5rem;
	background: #fff;
}

.dataTable {
	width: 95%;
	background: #fff;
	margin-bottom: 1rem !important;
}

.dataTable thead {
	background: #42B685;
	color: #fff;
}

.dataTable tbody tr:nth-child(even) {
	background: rgb(236, 248, 243);
	border-top: 1px solid #C8C9CA;
	border-bottom: 1px solid #C8C9CA;
}

.center {
	margin: 0 auto;
}

#chartContain {
	width: 95%;
	border: 1px solid #C8C9CA;
	border-radius: 0.5rem;
}

/*#date {
	height: 5rem;
	line-height: 4rem;
	border-radius: 5px;
	padding-left: 0.5rem;
	border: none;
	width: 9rem;
	box-shadow: none;
	background: url("../image/down.png") no-repeat right center;
	background-size: 1rem;
}*/

.MOMSum {
	width: 95%;
	padding-top: 1rem;
	margin: 0 auto;
	border: 1px solid #C8C9CA;
	border-radius: 0.5rem;
	overflow: hidden;
	margin-bottom: 1rem;
}

.MOMSum img {
	width: 25%;
	position: absolute;
	max-width: 5rem;
}

.MOMSum span {
	padding-left: 39%;
	color: rgb(145, 139, 138);
	white-space: nowrap;
}

.MOMSum .Num {
	color: #000;
}

.MOMSum .col-xs-6 {
	height: 5rem;
}

.ban_body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#search img {
	width: 1.5rem;
	margin: 0.7rem 0 0 1rem;
}

.clear {
	position: absolute;
	right: 33%;
	top: 2.4rem;
	z-index: 9;
}

.list-group-item {
	border: none;
}

.modal-dialog {
	margin-top: 20%;
}

#energySelect {
	background: transparent;
	border: none;
	-webkit-appearance: none;
	width: calc(100% - 102px);
	background: url('../image/right.png') no-repeat right 5px center;
}

.elec-btn {
	width: 100%;
	height: 4.5rem;
	background: url(../image/timeBg.png);
	background-size: 100% 100%;
	padding-left: 1.5rem;
	box-shadow: 0 -15px 15px -10px #BFBFC0 inset;
}

.elec-btn button {
	height: 5rem;
	width: 35%;
	margin-left: -5%;
	padding-top: 1.5rem;
	margin-top: 0.35rem;
	color: #FF6913;
	padding: 0 2rem;
	padding-top: 2.1rem;
	background: url(../image/day-w.png) no-repeat left 0.4rem;
	background-size: 105% 100%;
	box-shadow: 0 -12px 15px -10px #BFBFC0 inset;
}

.elec-btn #month {
	background: url(../image/week-w.png) no-repeat left 0.4rem;
	background-size: 105% 100%;
}

.elec-btn #year {
	background: url(../image/month-w.png) no-repeat left 0.4rem;
	background-size: 105% 100%;
}

#month[class*="select"] {
	background: url(../image/week-g.png) no-repeat left 0.7rem;
	background-size: 105% 85%;
}

#year[class*="select"] {
	background: url(../image/month-g.png) no-repeat left 0.7rem;
	background-size: 100% 85%;
}

#EnergyContain {
	height: 6rem;
	padding-top: 0.7rem;
	padding-left: 2rem;
}

.elec-btn .select {
	background: url(../image/day-g.png) no-repeat left 0.7rem;
	background-size: 100% 85%;
	padding-top: 2.1rem;
	box-shadow: none;
	color: #fff;
	z-index: 99;
}

/* .MOMSum p .fontsize {
	font-size: 1.2rem;
} */

/* .MOMSum p .fontsize:first-child {
	padding-left: 0;
} */
/*左侧弹窗增加透明灰底*/
.tree {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 0;
	top: 0;
	display: none;
	z-index: 10;
}

.selectcontain-main {
	width: 87%;
	height: 100%;
	background: #fff;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	clear: both;
	z-index: 999;
	padding: 0;
	animation: IDENT linear 0.3s;
}

#treeview {
	overflow: auto;
	height: 80%
}

.treeSearch {
	padding: 1rem;
}

.tree .search,
.tree .cancel {
	height: 6rem;
	line-height: 5rem;
	width: 50%;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	padding: 0;
}

.tree .cancel {
	background: #d4d4d0;
}

.tree .search {
	right: 0;
	background: #02AC94;
	color: #fff;
}

.treeSearch input {
	border-radius: 4rem;
	border: 1px solid #ddd;
	height: 4rem;
	width: 70%;
	background: url(../image/searchsmall.png) no-repeat 4px 5px;
	padding-left: 25px;
	position: relative;
}

.treeSearch button {
	width: 25%;
	height: 4rem;
	background: #02AC94;
	color: #fff;
	border-radius: 4rem;
	border: 1px solid #02AC94;
}

@keyframes IDENT {
	0% {
		right: -100%;
	}

	100% {
		right: 0;
	}
}

.selectTime {
	margin-bottom: 0;
	padding-left: 0.5rem;
	height: 6rem;
	line-height: 5rem;
	padding-top: 0.5rem;
}

.list .type,
.selectTime img {
	width: 1.8rem;
}

.selectTime img {
	margin-right: 0.5rem;
}

#datePre,
#dateNext {
	display: block;
	width: 5rem;
	height: 4rem;
	border-right: 1px solid #fff;
	float: left;
	padding: 0 1.3rem;
}

.timeBtn {
	width: 80%;
	background: linear-gradient(#56C676, #04BA6B);
	height: 4rem;
	line-height: 4rem;
	border-radius: 4rem;
	margin: 0 auto;
	margin-top: 0.5rem;
}

#date {
	height: 4rem;
	border-radius: 5px;
	padding-left: 0.5rem;
	border: none;
	width: calc(100% - 11rem);
	background: transparent;
	color: #fff;
	text-align: center;
	float: left;
}

#dateNext {
	float: right;
	border-right: 0;
	border-left: 1px solid #fff;
}