body {
	background: #f4f4f4;
}

button {
	outline: 0 !important;
}

section {
	text-align: center;
	width: 30%;
	float: left;
	background: #FFFFFF;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	margin: 3px;
}

section img {
	width: 55%;
	margin-bottom: 0.5rem;
	padding-top: 12px;
}

.redColor {
	color: red;
}

.sectionCard.sectionSelect {
	color: #000;
	background-color: #fff;
}

section p {
	margin: 0;
}

section p:last-child {
	margin-bottom: 0.5rem;
}