.container{
    background: #fff;
    height: 100%;
    padding-right:0;
    padding-left:0;
}
body{
	height: 100%;
	font-size:1.5rem;
	background:#EDEDEC;
}
#table{font-size:1rem;}
#sideClick p .jiancedian,.list .type{
	float:left;
	margin-top:1.5rem;
}
.category ul{padding-left:0;}
.list .type,.selectTime img{
	width:1.8rem;
}
.category ul li{
	height: 3rem;
	line-height: 2.5rem;
	padding-top:5px;
	list-style: none;
	border-bottom: 1px solid #eee;
}
.category input{
	float:right;
	width:18px;
	height: 18px;
}
.category span{
	height: 3rem;
	line-height: 3rem;
}
.category label{
	width: 90%;
	font-size: 15px;
}
.modal-dialog {
    width: 70%;
    margin: 15%;
}
.data{
	line-height: 40px;
	margin:0.3rem 0 0.3rem 0;
}
.data img{
	float:right;
	vertical-align: -20px;
	cursor: pointer;
}
.container{height:100%;}

.list{
	padding:0 0.5rem 0 0.5rem;
	height:2.5rem;
	line-height: 2.5rem;
}
.list p{
	float:left;
	margin-bottom: 0;
}
.list img{
	float:right;
	margin-right:0.5rem;
	margin-top:1.8rem;
}
.container hr{
	clear:both;
	margin:0;
	border:0.03rem dashed #C8C9CA;
}
.date label{
  padding-left:0;
  font-weight:normal;
  padding-right:0.5rem;
  }
.elec-btn{
	padding:0.6rem 0.2rem 0.3rem 0.2rem;
	height:3rem;
	line-height:3rem;
}
.selectTime,.list,.Unbalance-btn,#EnergyContain{
    border-bottom:1px dashed #C8C9CA;
}
#EnergyContain{
  height:4rem;
 }
.selectTime{margin-bottom:0;}
.elec-btn button{
	height:2.5rem;
	line-height: 1rem;
	float:left;
	width:45%;
	margin: 0 5px;
	border-radius: 0.3rem;
	background:#F7F7F7;
	border:1px solid #888888;
}
.elec-btn .select,.search{
	background:#02AC94;
	border:1px solid #02AC94;
	color:#fff;
}
.date{
  margin:0.6rem 0.2rem 0.6rem 0.2rem;
  width:100%;
  }
#date{
  width:calc(100% - 205px);
  height:2.5rem;
  border-radius:5px;
  border:1px solid #888888;
  padding-left:0.5rem;
  }
#sideClick{
	height:6rem;
	line-height:5rem;
	padding-top:0.5rem;
}
#CircuitidsInput,#CircuitidsList{
    height:2.5rem;
}
.search{
	width:95%;
	height:4rem;
	margin:0 auto;
	display: block;
	border-radius: 4rem;
	margin-top:1rem;
	margin-bottom:1rem;
}
.elec-btn .select,.search{
	background:#02AC94;
	border:1px solid #02AC94;
	color:#fff;
}
#search img{
	width:1.5rem;
	margin-right:0.5rem;
}
.container .diagram{
	width:95%;
	height:20rem;
	margin-bottom:0.5rem;
}
.dataTable{
	width:95%;
	border:1px solid #C8C9CA;
	background:#fff;
}
.dataTable thead{
	background:#42B685;
	color:#fff;
}
.time{
	float:right;
	padding:0.5rem 0.3rem 0 0;
	margin-right:3px;
}
.time img{vertical-align: -4px;}
.dataTable tbody tr:nth-child(2){
	background:rgb(236,248,243);
	border-top:1px solid #C8C9CA;
	border-bottom:1px solid #C8C9CA;
}
.center{margin:0 auto;}
.tree{
	display: none;
	width: 90%;
	height: 100%;
	background: #fff;
	position: fixed;
	top:0;
	right:0;
	z-index: 10;
}
#treeview{
    overflow:auto;
    height:84%
}
.treeSearch{
	padding:1rem;
}
.tree .search,.tree .cancel{
    height:4rem;
	line-height:3rem;
	width:44%;
	border-radius: 0;
	border:none;
	margin-bottom:0;
	position:fixed;
	bottom:0;
}
.tree .cancel{
	background:#d4d4d0;
}
.tree .search{
	right:0;
	background:#02AC94;
	color:#fff;
}
.treeSearch input{
	border-radius: 0.5rem;
	border:1px solid #ddd;
	height: 2.3rem;
	width:70%;
	background: url(../image/searchsmall.png) no-repeat 4px 5px;
	padding-left:25px;
	position: relative;
}
.treeSearch button{
	width:25%;
	height: 2.3rem;
	background: #02AC94;
	color:#fff;
	border-radius: 0.5rem;
	border:1px solid #02AC94;
}
.clear{
	position: absolute;
	right:33%;
	top:1.4rem;
    z-index: 9;
}
.list-group-item{
	border:none;
}
.modal-dialog{margin-top:20%;}

#datePre,#dateNext{
    cursor:pointer;
}
